
  <ion-content fullscreen class="ion-padding">
    <ion-slides>

      <ion-slide>
        <div class="slide">
          <img src="../../assets/images/slide-1.png"/>
          <h2>Benvenuto</h2>
          <p>Questa app è stata sviluppata per segnalare le corsie riservate nella città di Firenze</p>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="slide">
        <img src="../../assets/images/slide-2.png"/>
        <h2>Come appare</h2>
        <p>Nella mappa sarranno identificate, con diversi colori modificabili, le tipologie di corsie riservate su cui non puoi transitare calcolate in base ai tuoi permessi.
          In impostazioni puoi personalizzare le autorizzazioni in tuo possesso in base al veicolo che guidi oppure cambiare le corsie visibili su mappa
        </p>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="slide">
        <img src="../../assets/images/slide-3.jpg"/>
        <h2>Segnalazione</h2>
        <p>Tramite le impostazioni puoi scegliere se ricevere un alert vocale quando sei in prossimità di una corsia riservata oppure quando la stai percorrendo (o entrambe).
          Nel caso tu percorra una corsia riservata verrà inviato un messaggio dettagliato nella sezione notifiche.
          Attenzione: riceverai un alert di vicinanza a una corsia solo se essa sarà visibile su mappa, mentre nel caso in cui tu percorrerai una corsia riservata su cui non 
          puoi transitare verrà sempre inviata un messaggio nel centro notifiche 
        </p>
        </div>
          </ion-slide>

      <ion-slide>
        <div class="slide">
        <img src="../../assets/images/slide-4.png"/>
        <h2>Pronto per iniziare?</h2>
          <p>Se hai qualche dubbio sulle categorie per le corsie autorizzate consulta in impostazioni la sezione Info autorizzazioni</p>
        <ion-button fill="clear" (click)="readyToPlay()">Continua <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
        </div>
      </ion-slide>

    </ion-slides>
  </ion-content>

