
  <ion-content fullscreen class="ion-padding" scroll-y="false">
    <ion-slides pager="true">

      <ion-slide>
        <div class="slide">
          <img src="../../assets/images/slide-1.png"/>
          <h2>Benvenuto</h2>
          <p>Questa app è stata sviluppata per segnalare le corsie riservate nella città di Firenze</p>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="slide">
        <img src="../../assets/images/slide-2.png"/>
        <h2>Come appare</h2>
        <p>Nella mappa sarranno identificate, con diversi colori, le tipologie di corsie riservate in modo da renderle visibili durante i tuoi spostamenti</p>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="slide">
        <img src="../../assets/images/slide-3.png"/>
        <h2>Segnalazione</h2>
        <p>Se transiti in una corsia riservata verrai avvisato tramite un alert e una notifica.
            In impostazioni puoi selezionare le autorizzazioni in tuo possesso in base al veicolo che guidi </p>
        </div>
          </ion-slide>

      <ion-slide>
        <div class="slide">
        <img src="../../assets/images/slide-4.png"/>
        <h2>Pronto per iniziare?</h2>
    
        <ion-button fill="clear" (click)="readyToPlay()">Continua <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
        </div>
      </ion-slide>

    </ion-slides>
  </ion-content>

