
  <ion-content fullscreen class="ion-padding" scroll-y="false">
    <ion-slides pager="true">

      <ion-slide class="slide-1">
        <div class="slide">
          <img src="../../assets/images/slide-1.png"/>
          <h2>Benvenuto</h2>
          <p>Questa app è stata sviluppata per segnalare le corsie riservate nella città di Firenze</p>
        </div>
      </ion-slide>

      <ion-slide class="slide-2">
        <img src="../../assets/images/slide-2.png"/>
        <h2>Come appare</h2>
        <p>Nella mappa sarranno identificate, con diversi colori, le tipologie di corsie riservate in modo da renderle visibili durante i tuoi spostamenti</p>
      </ion-slide>

      <ion-slide class="slide-3">
        <img src="../../assets/images/slide-3.png"/>
        <h2>Servizio di notifica</h2>
        <p>Se transiti in una corsia non autorizzata verrai avvisato e nel centro notifiche comparirà una notifica con informazioni dettagiate </p>
      </ion-slide>

      <ion-slide class="slide-4">
        <h2>Passa all'app</h2>
        <ion-item>
          <ion-label>Non mostrare più il tutorial</ion-label>
          <ion-checkbox slot="end" [(ngModel)]="checkbox_tutorial" (click)="setCheckbox()"></ion-checkbox>
          <ion-checkbox disabled="false"></ion-checkbox>
          <ion-button>test</ion-button>
        </ion-item>
        <br>
        <ion-button fill="clear" (click)="readyToPlay()">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
        <ion-checkbox>Prova</ion-checkbox>
      </ion-slide>

    </ion-slides>
  </ion-content>

