<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" (click)="setDefaultListFiltro()"></ion-back-button>
    </ion-buttons>
    <ion-title>Info autorizzazioni</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="open_filtro()" style="--border-radius: 50%; min-width: 48px; height: 48px;">
        <ion-icon  name="options-outline"></ion-icon>
      </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="A" class="box">
    <h2>Corsia A</h2>
    <h3>PERIODO E ORARIO DI VIGENZA</h3>
     <h4>Tutti i giorni feriali e festivi, dalle ore 00,00 alle ore 24,00</h4>
     <h4>Corsie riservate ai mezzi pubblici di trasporto NON comprese nella zona a traffico limitato:</h4>
     <ul>
      <li>Autobus di linea urbani;</li>
      <li>Autobus di linea extraurbani;</li>
      <li>Taxi e veicoli a noleggio con conducente (NCC) limitatamente alle categorie M1 ed N1;</li>
      <li>Veicoli adibiti a servizi di polizia e soccorso (art. 177, comma 1 C.d.S.);</li>
      <li>Veicoli Forze Armate;</li>
      <li>Veicolo per disabili e invalidi (hand)</li>
      <li>Veicoli operativi dei servizi postali e di igiene ambientale (raccolta rifiuti e pulizia strade).</li>
      <li>Veicoli provvisti di deroga o autorizzazione (non valido su tutte le strade).</li>
    </ul>
  </div>
  <div id="B" class="box">
    <h2>Corsia B</h2>
    <h3>  PERIODO E ORARIO DI VIGENZA</h3>
     <h4> Tutti i giorni feriali e festivi, dalle ore 00,00 alle ore 24,00 </h4>
     <h4>Corsie riservate ai mezzi pubblici di trasporto comprese
      nella zona a traffico limitato:</h4>
    <ul>
      <li>Autobus di linea urbani;</li>
      <li>Autobus di linea extraurbani;</li>
      <li>Taxi e veicoli a noleggio con conducente (NCC) limitatamente alle categorie M1 ed N1;</li>
      <li>Veicoli adibiti a servizi di polizia e soccorso (art. 177, comma 1 C.d.S.);</li>
      <li>Veicoli Forze Armate;</li>
      <li>Veicolo per disabili e invalidi (hand)</li>
      <li>Veicoli operativi dei servizi postali e di igiene ambientale (raccolta rifiuti e pulizia strade).</li>
      <li>Veicoli provvisti di deroga o autorizzazione (non valido su tutte le strade).</li>
    </ul>
  </div>
  <div id="C1" class="box">
    <h2>Corsia C1</h2>
    
    <h3>  PERIODO E ORARIO DI VIGENZA</h3>
    <h4>Tutti i giorni feriali e festivi, dalle ore 00,00 alle ore 24,00</h4>
    <h4>Corsie riservate ai mezzi di trasporto pubblico locale:</h4>
    <ul>
      <li>Autobus di linea urbani;</li>
    </ul>
  </div>
  <div id="C6" class="box">
  <h2>Corsia C6</h2>
  
  <h3>PERIODO E ORARIO DI VIGENZA</h3>
  <h4>Tutti i giorni feriali e festivi, dalle ore 00,00 alle ore 24,00</h4>
  <h4>Corsie riservate a:</h4>
  <ul>
    <li>Veicoli di soccorso</li>
  </ul>

  </div>
  <div id="C7" class="box">
    <h2>Corsia C7</h2>
    
    <h3>  PERIODO E ORARIO DI VIGENZA</h3>
    <h4>Tutti i giorni feriali e festivi, dalle ore 00,00 alle ore 24,00</h4>
    <h4>Corsie riservate a:</h4>
    <ul>
      <li>Veicoli adibiti a servizi di polizia e soccorso (art. 177, comma 1 C.d.S.);</li>
      <li>Veicoli operativi dei servizi postali e di igiene ambientale (raccolta rifiuti e pulizia strade).</li>
      <li>veicoli diretti agli accessi carrabili posti lungo la corsia o da essi provenienti</li>
    </ul>
  </div>
</ion-content>