.box{
    padding: 0.8rem;
    //border: solid #3D89FF 10px;
    border-radius: 25px;
    margin: 0.8rem 0;
    background-color: #fff;
    margin: 30px 10px;
}
.box h2{
    font-size: 2.8rem;
}
.box h3{
    margin:0px;
}
.box ul{
    padding-inline-start: 30px;
    font-size: 1rem;
}