.alert-wrapper.ion-overlay-wrapper.sc-ion-alert-md{
    border-radius: 15px;
}
ion-list{
    padding: 0px;
}
#preview_map{
    height: 300px ;
    width: 100%;
    margin: 15px;
    border-radius: 20px;
}
#content_map{
    height: 500px;
}
#content-card-item{
    flex-direction: column ;
    width: 100%;
}   

ion-item.div-card {
    // padding: 0px;
     --inner-padding-end: 0px;
     --padding-start:0px
}
.card-item {
    display: flex;
    margin: 0px;
}
