<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Avvisi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-group>
    <ion-item-divider sticky=true>
      <ion-label>Avvisi</ion-label>
    </ion-item-divider>
    <ion-item class="div-card">
      <div id="content-card-item">
        <ion-item class="card-item" lines="none">
          <ion-label>Prossimità corsia riservata</ion-label>
          <ion-checkbox slot="end" [(ngModel)]="checkbox_nearstreet" (click)="alert_nearStreet()">
          </ion-checkbox>
        </ion-item>
        <ion-item [disabled]="!checkbox_nearstreet" class="card-item" lines="none">
          <div id="preview_map">

          </div>
        </ion-item>
        <ion-item class="card-item" lines="none" style="border-radius: 0%;">
          <ion-label>Raggio</ion-label>
          <ion-range [disabled]="!checkbox_nearstreet" (ionChange)="eventChangeRange()"
            [(ngModel)]="radius_circle" min="15" max="200" pin color="secondary">
          </ion-range>
        </ion-item>
      </div>
    </ion-item>

    <ion-item class="div-card">
      <div id="content-card-item">
        <ion-item class="card-item" >
          <ion-label>Percorro corsia riservata</ion-label>
          <ion-checkbox slot="end" [(ngModel)]="checkbox_alertOnCorsia" (click)="alert_alertOnCorsia()">
          </ion-checkbox>
        </ion-item>
        <ion-item lines="none" class="card-item" [@visibilityChanged]="!checkbox_alertOnCorsia">
          <ion-label>Aggiungi alert visivo</ion-label>
          <ion-toggle [(ngModel)]="toggle_alertVisivo" (ionChange)="alert_onAddAlertVisivo()"></ion-toggle>
        </ion-item>
        <ion-item class="card-item" lines="none" [@addAlertVisivoChanged]="toggle_alertVisivo && checkbox_alertOnCorsia">
          <ion-list lines="none" style="width: 100%;">
            <ion-radio-group #radio_gruppo >
              <ion-item *ngFor="let entry of list_alert; let i=index" (click)="radioGroupChange(entry,true)">
                <ion-label>{{entry.name}}</ion-label>
                <ion-radio slot="end" [value]="entry.id"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </ion-item>
      </div>
    </ion-item>
    <ion-item>
      <ion-label>Avvisi in background</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="checkbox_background" (click)="event_checkboxBackground(true)">
      </ion-checkbox>
    </ion-item>
  </ion-item-group>
</ion-content>