#container{
    display: flex;
    margin: auto;
    width: 50%;
    margin-top: 50px;
}


// ion-content,ion-header{
//     --ion-background-color:#eeeeee;
// }
// ion-item{
//     --ion-background-color:#fff;
//     border-radius: 20px;
//     margin:3px 9px;
// }
// #container_opt{
//     margin-top: 13px;
// }
// ion-toolbar{
//     color: #000;
// }
// ion-title{
//     display: flex;
// }
// ion-toolbar{
//     display: flex;
//     height: 65px;
// }
// ion-title{
//     display: flex;
//     font-size: 23px;
// }