<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Seleziona colore linee</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Colore Corsia A</ion-label>
      <ion-select selectedText="{{colors_selected[0].val}}" [(ngModel)]="colors_selected[0]" (ionChange)="update_colors_selected()">
        <ion-select-option *ngFor="let color of colors" [value]="color">{{color.val}}</ion-select-option>
      </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Colore Corsia B</ion-label>
      <ion-select selectedText="{{colors_selected[1].val}}" [(ngModel)]="colors_selected[1]" (ionChange)="update_colors_selected()">
        <ion-select-option *ngFor="let color of colors" [value]="color">{{color.val}}</ion-select-option>
      </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Colore Corsia C</ion-label>
      <ion-select selectedText="{{colors_selected[2].val}}" [(ngModel)]="colors_selected[2]" (ionChange)="update_colors_selected()">
        <ion-select-option *ngFor="let color of colors" [value]="color">{{color.val}}</ion-select-option>
      </ion-select>
  </ion-item>
</ion-content>
