<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Seleziona colore linee</ion-title>
    <ion-buttons (click)="consigliatiButton()" slot="end">
      <ion-button>Consigliati</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container_opt">
    <ion-item (click)="update_colors_selected()" lines="none" *ngFor="let entry of colors_selected; let i = index">
      <div class="checkbox_space">
        <ion-checkbox slot="start" [(ngModel)]="entry.isChecked"></ion-checkbox>
      </div>
      <ion-label>Corsia {{colors_selected[i].corsia}}</ion-label>
      <ion-select (click)="setViewColors(entry.color)" selectedText="{{colors_selected[i].color.val}}" [(ngModel)]="colors_selected[i].color"
        (ionChange)="update_colors_selected()" style="padding-left: 15%;">
        <!-- <div class="chooseColors_space" > -->
        <ion-item *ngFor="let color of colors">
          <ion-select-option #index *ngIf="!color.isChoose" [value]="color" >{{color.val}}</ion-select-option>
        </ion-item>
        <!-- </div> -->
      </ion-select>
    </ion-item>
  </div>
  <div id="container">
    <div id="preview">

    </div>
  </div>

</ion-content>