<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Seleziona colore linee</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Colore Corsia A</ion-label>
      <ion-select selectedText="{{color_A.val}}" [(ngModel)]="color_A" (ionChange)="update_color_A()">
        <ion-select-option *ngFor="let color of colors" [value]="color">{{color.val}}</ion-select-option>
      </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Colore Corsia B</ion-label>
      <ion-select selectedText="{{color_B.val}}" [(ngModel)]="color_B" (ionChange)="update_color_B()">
        <ion-select-option *ngFor="let color of colors" [value]="color">{{color.val}}</ion-select-option>
      </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Colore Corsia C</ion-label>
      <ion-select selectedText="{{color_C.val}}" [(ngModel)]="color_C" (ionChange)="update_color_C()">
        <ion-select-option *ngFor="let color of colors" [value]="color">{{color.val}}</ion-select-option>
      </ion-select>
  </ion-item>
</ion-content>
