<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true">
  <div id="myMap">
    <div class="bottom_right">
      <ion-fab-button  (click)="change_view_map()" class="leaflet-control map-button"><ion-icon [name]="icon_map_view_selected[count_map_view_selected].name"></ion-icon></ion-fab-button>
      <ion-fab-button (click)="getPosition()" class="leaflet-control map-button"><ion-icon name="navigate" [color]="state_button_arrow.color"></ion-icon></ion-fab-button>
    </div>
  </div>
  <ion-button (click)="show_alert()">Show Alert</ion-button>
  <ion-button (click)="send_notifica()">Invia notifica</ion-button>
  <ion-button (click)="countLayers()">Count layer</ion-button>
  
</ion-content>
