<ion-header [translucent]="true">

</ion-header>

<ion-content id="content" [fullscreen]="true">
  <!-- <ion-searchbar #searchbar id="searchbar" (click)="hide_map_onclick()" placeholder="Cerca" [value]="selectedAddress.name"
    (ionChange)="search($event)" (ionClear)="onCancel()">
  </ion-searchbar> -->
  <ion-item #searchbar id="searchbar">
    <ion-icon class="icon" name="{{icon_name_searchbar}}" (click)="icon_searchbar_onBack()"></ion-icon>
    <ion-input #ion_input (ionFocus)="hide_map_onclick()" (ionChange)="search($event)">
    </ion-input>
    <ion-icon class="icon" name="close" (click)="onCancel()"></ion-icon>
  </ion-item>
  <div id="search-list">
    <ion-list id="list_items" lines="none">
      <ion-item button *ngFor="let address of addresses" (click)="onSelect(address)">
        <ion-icon name="pin"></ion-icon>
        <ion-label>{{address.name}}</ion-label>
      </ion-item>
    </ion-list>
  </div>
  <div #map id="myMap" (click)="onClickMap()">
    <div class="bottom_right">
      <ion-fab-button (click)="change_view_map()" class="leaflet-control map-button">
        <ion-icon [name]="icon_map_view_selected[count_map_view_selected].name"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="getPosition()" class="leaflet-control map-button">
        <ion-icon name="navigate" [color]="state_button_arrow.color"></ion-icon>
      </ion-fab-button>
    </div>
  </div>
  <ion-button (click)="show_alert()">Show Alert</ion-button>
  <ion-button (click)="send_notifica()">Invia notifica</ion-button>
  <ion-button (click)="countLayers()">Count layer</ion-button>
  <ion-button (click)="crea_Strada()">Crea Percorso</ion-button>
  <ion-button (click)="simula_percorso()">Simula Percorso</ion-button>
  <ion-button (click)="metti_Marker()">Metti marker</ion-button>
  <ion-button (click)="hide_map()">Nascondi Mappa</ion-button>
</ion-content>