<ion-header id="myHeader">
  <ion-toolbar>
    <ion-title class="title">
      Impostazioni
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-group>
    <ion-item-divider sticky=true> 
      <ion-label >Personalizzazione</ion-label>
    </ion-item-divider>
    <ion-item lines="none" button (click)="open_details_page()">
      <ion-label>Seleziona autorizzazioni</ion-label>
    </ion-item>
    <ion-item lines="none" button (click)="open_select_line_color_page()">
      <ion-label>Seleziona colore linee</ion-label>
    </ion-item>
    <ion-item lines="none" button (click)="open_custom_alert_page()">
      <ion-label>Personalizza alert</ion-label>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider sticky=true>
      <ion-label>Informazioni</ion-label>
    </ion-item-divider>
    <ion-item lines="none" button (click)="open_tutorial_page()">
      <ion-label>Tutorial</ion-label>
    </ion-item>
    <ion-item lines="none" button (click)="open_istruzioni()">
      <ion-label>Info autorizzazioni</ion-label>
    </ion-item>
  </ion-item-group>
</ion-content>