/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.alert{
    font-size: 85px;
    color:#ff0000;
}
#alert-1-msg{
    text-align: center;
    padding:0;
}
#alert-2-msg{
    padding: 0;
}
.rounded-2-class .alert-wrapper.sc-ion-alert-md{
    border: 15px solid #488AFF; 
    width: 0;
    border-radius: 12%;
}

.rounded-red-class .alert-wrapper.sc-ion-alert-md{
    border-radius: 100%;
    border:15px solid #ff0000;

}
.container .alert-wrapper.sc-ion-alert-md{
    border:15px solid #ff0000;
   position: relative;
   width: 275px;
   padding-top: 255px; 
   border-radius:100%
}
.container .alert-head{
    padding:0;
}
.container .alert-button-group{
    padding: 0;
}
.text{
   position:  absolute;
   top: 36px;
   left: 0;
   bottom: 0;
   right: 0;
   text-align: center;
}
.msg_custom{
    font: 500 18px Roboto, "Helvetica Neue", sans-serif;
    color: #000;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.msg_custom .sub_msg{
    font-weight: 150;
}
#ion-fab-button .map-button{
    margin-top: 5px;
  }
#myMap .legend {
    line-height: 18px;
    color: #555;
    background-color: #fff;
    margin:4px;
    border-radius: 9px;
}

.row{
    display: flex;
    flex-direction: row;
    padding: 0px 5px;
}
.color{
    flex: auto;
    width: 18px;
    max-width: 18px;
    float: left;
    opacity: 0.7;
    height: 11px;
    align-self: center;
    border-radius: 5px;
}
.legend .row #testo{
    margin: 0px;
    align-self: center;
    padding-left: 3px;
}
.container .alert-message{
    padding: 0;
}
#notifica{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#notifica .text_label{
    align-self: flex-start;
    font: 500 18px Roboto, "Helvetica Neue", sans-serif;
}
#notifica .date_label{
    align-self: flex-end;
    font: 150 10px Roboto, "Helvetica Neue", sans-serif;
}
ion-slides {
    height: 100%;
  }
ion-slides  .swiper-slide {
    display: block;
  }

ion-slides  .swiper-slide h2 {
    margin-top: 0.8rem;
  }

ion-slides  .swiper-slide  {
    max-height: 100%;
    max-width: 100%;
    margin: 50px 0 0px;
    pointer-events: none;
  }
ion-slides .slide-1 img{
    max-height: 66%;
    max-width: 66%;
}
ion-slides .slide-2 img{
    max-height: 100%;
    max-width: 100%;
}


ion-slides  b {
    font-weight: 500;
  }

ion-slides  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: var(--ion-color-step-600, #60646b);
  }

ion-slides p b {
    color: var(--ion-text-color, #000000);
  }

ion-item-divider {
    background-color: #808080;
    color: #fff;
    height: 32px;
}