<ion-header>
  <ion-toolbar>
    <ion-buttons (click)="onBack()" slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Filtra autorizzazioni</ion-title>
    <ion-buttons (click)="inverti_selezione()" slot="end">
      <ion-button>inverti Selezione</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item *ngFor="let entry of datas">
      <ion-label>{{entry.val}}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
